
.app-add-form {
    width: 20%;
    height: max-content;
    padding: 10px 15px;
}

.app-add-form h3 {
    margin-bottom: 25px;
}

.app-add-form button {
    margin-top: 15px;
    width: 100px;
    float: right;
}
.add-form input {
    margin-top: 5px;
}